:root {
  --color-accent: #47167d;
  --color-title: #fff;
  --bg-color: #efefef;

  --link-project-color: #d57d16;
}

html {
  color: var(--color-accent);
  /* font-size: calc(100vw / 46); */
  font-size: 20px;
  font-family: "TeXGyreAdventorRegular";
}

body {
  padding: 0;

  width: 46rem;
  margin-left: auto;
  margin-right: auto;
}

a,
a:visited {
  color: var(--color-title);
  fill: var(--color-title);
  /* text-decoration: none; */
  margin-right: 0.3rem;
}

a:hover {
  --color-linkedin: var(--color-accent);
  color: var(--color-accent);
  fill: #66329e;
  text-shadow: 0px 0px 4px #66329e;
}

.icon-mail::before {
  content: "✉";
  position: absolute;
  left: -1.5rem;
}

.icon-tel::before {
  content: "✆";
  position: absolute;
  left: -1.5rem;
}

.github-img {
  position: absolute;

  left: -1.5rem;
  top: 0.2rem;
}

/* .icon-github::before {
  content: "";
  position: absolute;
  background-image: url(./imgs/github-icon.svg);
  background-size: 100%;

  height: 1rem;
  width: 1rem;
  left: -1.5rem;
  top: 0.2rem;
} */

.grid {
  padding: 28px 32px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* grid-template-rows: 1fr 1fr 1fr 1fr; */

  column-gap: 2rem;
  /* row-gap: 2rem; */

  grid-template-areas:
    "header header"
    ". profile"
    "skills profile"
    "skills experience"
    "languages projects"
    "education projects";

  background-color: var(--bg-color);
  background-image: url(./imgs/bg2.png), url(./imgs/bg1.png);
  background-position: -8.3rem -12.25rem, bottom right;
  background-repeat: no-repeat;

  background-size: 46rem, 13rem;
}

/* =================== */
/* === HEADER === */
/* =================== */

.header {
  color: var(--color-title);
  grid-area: header;
  display: flex;
  justify-content: space-between;
}

.header-title {
  width: 7ch;
  font-size: 2.5rem;
  letter-spacing: 0.6rem;
  line-height: 2.9rem;
  font-variant-caps: all-petite-caps;
}

.contact-info__title {
  /* width: 7ch; */
  margin-top: 1rem;
  hyphens: manual;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  font-variant-caps: all-petite-caps;
}

.contact-info__title::after {
  background-color: var(--color-title);
}

.contact-info__title > span {
  display: block;
}

h2::after {
  content: "";
  display: block;
  height: 0.1rem;
  width: 100%;
  background-color: var(--color-accent);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.contacts {
  /* padding-left: 0; */
}

.contacts_item {
  position: relative;
}

.header-column-2.img-wrapper {
  margin: 2rem;
  width: 255px;
  height: 255px;
  border-radius: 45%;
  overflow: hidden;
}

.header-column-2.img-wrapper > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* =================== */
/* === PROFILE === */
/* =================== */

.profile {
  margin-top: -1.8rem;
  margin-bottom: 1rem;
}

.profile__description {
  max-width: 48ch;
}

/* =================== */
/* === SKILLS === */
/* =================== */

.skills__item {
  list-style: disc;
}

/* =================== */
/* === LANGUAGES === */
/* =================== */

.languages__item {
  list-style: disc;
}

/* =================== */
/* === EXPERIENSE === */
/* =================== */

/* .experience {
    margin-top: 2rem;
} */

.exp {
  padding-left: 0;
}

.exp-item {
  margin-top: 0.5rem;
}

.exp__sub-list {
  padding-left: 1rem;
}

.exp__sub-item {
  padding-left: 0;
  list-style: disc;
}

/* =================== */
/* === PROJECT === */
/* =================== */
.projects__list {
  padding-left: 1rem;
}

.projects__item:not(:first-child) {
  margin-top: 1rem;
}

.project__link,
.project__link:link,
.project__link:visited {
  color: var(--link-project-color);
}

.projects__item,
.project__link:visited {
  list-style-type: disc;
}

.project__link:hover {
  color: var(--link-project-color);
  text-shadow: 0px 0px 4px #ea983a;
}

.project__description {
  font-size: 0.8rem;
}

/* =================== */
/* === EDUCATION === */
/* =================== */

.education__list {
  margin-bottom: 0;
  padding-left: 0;
  width: 100%;
}

.education__sub-list {
  padding-left: 0;
}

.education__sub-list > li {
  font-weight: 500;
}

.education__sub-item {
  /* display: flex;
  justify-content: space-between; */
  width: 100%;
  margin-top: 1rem;
}

.list-disc {
  list-style: disc;
  margin-left: 1rem;
}

/* .list-disc::marker {
    margin: -10px;
} */

/* .education__clm-1 {
  width: 50%;
} */

/* .education__clm-1 > h3 {
  text-align: center;
} */

.education__clm-2 {
  margin-left: 2rem;
  width: 45%;
}

/* =================== */
/* === GRID === */
/* =================== */

section,
header {
  /* outline: 1px grey solid; */
}

.profile {
  grid-area: profile;
}

.skills {
  grid-area: skills;
}

.languages {
  grid-area: languages;
}

.experience {
  grid-area: experience;
}

.projects {
  grid-area: projects;
}

.education {
  grid-area: education;
}
